@import url('https://fonts.cdnfonts.com/css/sorealism');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainCon {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

#container {
     width: 960px;
     height: 500px;
     position: relative;
     box-shadow: 0 0 12px 0 #1c1212;
}

main, aside {
    position: absolute;
    height: 100%;
}

main {
    width: 60%;
    left: 0;
    top: 0;
    color: #564758;
}

aside {
    width: 40%;
    background-color: #564758;
    right: 0;
    top: 0;
    color: #fff;
}

main .signup, main .signin {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .signin {
    display: none;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

#formblock {
    display: flex;
    flex-direction: column;
    width: 75%;
}

#formblock div {
    border-bottom: 2px solid #564758;
    margin-bottom: 1em;

}

#nameCon {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

input {
    border: none;
    padding: 5px;
    background-color: transparent;
    outline: none;
    width: 90%;
}

input::placeholder {
    font-family: 'sorealism', sans-serif;
    color: #564758;
                    
}

input:focus, input:active {
    outline: none;
}

main button {
    background-color: #564758;
    color: #fff;
}

button {
    cursor: pointer;
    width: auto;
    padding: 1em 3em;
    font-weight: 600;

}

/* --------Aside Section-------- */
aside #asideup, aside #asidein {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

aside button {
    color: #564758;
}

aside #asidein {
    /* display: none; */
}

.slideRight {
    right: 0;
}

.slideLeft {
    left: 0;
}